/* Change all elements to use border-box */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #000000;
    font-family: Ariel,Verdana,sans-serif;
    font-size: 0.8em;
    line-height: 1.5;
    text-align: left;
}

a {
    color: #939598;
    font-weight: bold;
    text-decoration: none;
}

[class*='col-'] {
    float: left;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.col-2-2 {
    width: 100%;
}

.col-1-4 {
    width: 25%;
}

.col-2-4 {
    width: 50%;
}

.col-3-4 {
    width: 75%;
}

.col-4-4 {
    width: 100%;
}

div.first_header {
    width: 100%;
    /*background-color: red;*/
    background-image: url('images/cbm-glava2a.png');
    background-repeat: no-repeat;
    height: 80px;
}

.navbar {
    width: 100%;
    /*background: green;*/

    border-bottom: 1px solid #1a157b;
    height: 30px;
    /*padding-left: 40px;*/
    /*margin-left: 40px;*/
    text-align: left;
    /*width: 96%;*/
}

.third_header {
    width: 100%;
    /*background: yellow;*/
}

.content {
    width: 100%;
    background: blue;
}

div.date_box {
    float: right;
    font-family: Arial,sans-serif;
    font-size: small;
    margin-right: 20px;
    margin-top: 30px;
    padding: 1px;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;
}

.navbar ul {
    list-style: outside none none;
}

.navbar li, .navbar .page_item {
    display: inline;
}

.navbar ul li a, .navbar .page_item {
    font-size: 1em;
    font-variant: small-caps;
    font-weight: normal;
    padding-right: 18px;
    text-decoration: none;
}

div.login {
    float: right;
    font-family: Arial,sans-serif;
    font-size: small;
    padding-right: 20px;
    /*margin-right: 20px;
    margin-top: 30px;
    padding: 1px;*/
    text-align: right;
    text-transform: uppercase;
    /*vertical-align: middle;*/
}

.third_header:after {
    content: "";
    display: table;
    clear: both;
}

div.cat {
    padding-right: 8px;
    padding-bottom: 8px;
}


.cat div {
    /*margin-right: 18px;
    margin-bottom: 20px;*/
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    /*font-size: 1.2em;
    font-variant: small-caps;
    font-weight: normal;*/
    /*min-width: 240px;*/
    /*padding-right: 18px;*/
    /*text-decoration: none;*/
    width: 100%;
    float: left;
}

.small_article { }

.small_article .category { }

.small_article .title { }

.small_article .text { }

.small_article .date { }

.small_article .more { }


.big_article { }

.big_article .category { }

.big_article .title { }

.big_article .text { }

.big_article .date { }

.big_article .more { }


.latest {}

.latest_article {}

.latest_article .date {}

.latest_article .category {}

.latest_article .title {}

.latest_article .text {}

.latest_article .more {}

.bulletin {}

.footer {}
